@import "tailwindcss";
@import "variables";

@custom-variant dark (&:where(.dark, .dark *));

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

.wrapper {
  width: 100%;
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

@layer components {
  .sticky-header {
    position: sticky;
    top: 0;
    z-index: 50;
    width: 100%;
    animation-name: scrolling-header;
    animation-fill-mode: both;
    animation-timeline: scroll();
    animation-range: 0 100px;

    @mixin scrolling-header-styles {
      backdrop-filter: blur(10px);
    }

    @keyframes scrolling-header {
      to {
        @include scrolling-header-styles;
      }
    }

    @supports (not (animation-timeline: scroll())) {
      @include scrolling-header-styles;

      position: sticky !important;
    }
  }

  .nav-link {
    @apply px-4 py-2.5 rounded-full text-white font-semibold hover:bg-emerald-600 hover:text-white transition duration-200;
  }

  .nav-link.is-active {
    @apply bg-emerald-700 text-white pointer-events-none;
  }
}
